
.custom-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
 
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1050;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.fade-in {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.custom-modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  min-width: 400px;
  max-width: 90%;
  position: relative;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.close-button {
  position: absolute;
  top: 0px;
  right: 0px;
  background: none;
  border: none;
  border-radius: 0px 0px 0px 10px;
  font-size: 20px;
  line-height: 1;
  cursor: pointer;
  color: white;
  transition: ease(7);
  background-color:  rgb(216, 32, 32);
  transition: background-color 0.5s ease;
}

.close-button:hover {
  transition: ease(7);
   background-color:  rgb(230, 38, 38);
}
